<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.knime.workbench.repository.categories">
      <category
            description="Category contains all nodes required to test and evaluate the Cyface process."
            icon="src/resources/cyface logo C-pfeil.jpg"
            level-id="cyfaceNodes"
            name="Cyface"
            path="/"/>
   </extension>
   
   <extension point="org.knime.workbench.repository.nodes">
   <node category-path="/cyfaceNodes" factory-class="de.cyface.timestamp.TimestampAlignerNodeFactory"/>
   <node category-path="/cyfaceNodes" factory-class="de.cyface.distance.EquidistanceTransfomerNodeFactory"/>
   <node category-path="/cyfaceNodes" factory-class="de.cyface.smoothing.SmoothingNodeFactory"/>
   <node category-path="/cyfaceNodes" factory-class="de.cyface.mapmatching.MapMatchingNodeFactory"/>
   <node category-path="/cyfaceNodes" factory-class="de.cyface.export.ExportNodeFactory"/>
   <node category-path="/cyfaceNodes" factory-class="de.cyface.envelope.EnvelopeNodeFactory"/>
</extension>
   
</plugin>
