<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Copyright 2018 Cyface GmbH -->
<!--   -->
<!-- This file is part of the Cyface KNIME Nodes. -->
<!--  -->
<!-- The Cyface KNIME Nodes is free software: you can redistribute it and/or modify -->
<!-- it under the terms of the GNU General Public License as published by -->
<!-- the Free Software Foundation, either version 3 of the License, or -->
<!-- (at your option) any later version. -->
<!--  -->
<!-- The Cyface KNIME Nodes is distributed in the hope that it will be useful, -->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the -->
<!-- GNU General Public License for more details. -->
<!-- -->
<!-- You should have received a copy of the GNU General Public License -->
<!-- along with the Cyface KNIME Nodes. If not, see <http://www.gnu.org/licenses/>. -->
<?eclipse version="3.0"?>
<plugin>

  <!-- Never change the id or this will not work on NodePit anymore -->
  <extension point="org.knime.workbench.repository.categories">
      <category
            description="Category contains all nodes required to test and evaluate the Cyface process."
            icon="src/main/resources/logo/logo48.png"
            level-id="cyfaceNodes"
            name="Cyface"
            path="/"/>
   </extension>
   
   <extension point="org.knime.workbench.repository.nodes">
   <node
         category-path="/cyfaceNodes"
         deprecated="false"
         factory-class="de.cyface.timestamp.TimestampAlignerNodeFactory"/>
   <node
         category-path="/cyfaceNodes"
         deprecated="false"
         factory-class="de.cyface.distance.EquidistanceTransfomerNodeFactory"/>
   <node
         category-path="/cyfaceNodes"
         deprecated="false"
         factory-class="de.cyface.smoothing.SmoothingNodeFactory"/>
   <!--<node category-path="/cyfaceNodes" factory-class="de.cyface.mapmatching.MapMatchingNodeFactory"/>-->
   <node
         category-path="/cyfaceNodes"
         deprecated="false"
         factory-class="de.cyface.export.ExportNodeFactory"/>
   <node
         category-path="/cyfaceNodes"
         deprecated="false"
         factory-class="de.cyface.envelope.EnvelopeNodeFactory"/>
   <node
         category-path="/cyfaceNodes"
         deprecated="false"
         factory-class="de.cyface.reader.BinaryFormatReaderNodeFactory">
   </node>
</extension>
   <extension
         point="org.knime.product.splashExtension">
      <splashExtension
            icon="src/main/resources/logo/logo48.png"
            icon24="src/main/resources/logo/logo24.png"
            icon32="src/main/resources/logo/logo32.png"
            id="de.cyface.knime.splash"
            tooltip="Cyface">
      </splashExtension>
   </extension>
   
</plugin>
